<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hardeywale.xhino.konnectreaders">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <activity android:name=".SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Courses" />



        <receiver android:name=".Notification_Receiver" />

        <activity android:name=".GnsList" />
        <activity android:name=".CHE101" />
        <activity android:name=".Che" />
        <activity android:name=".ChemNote" />
        <activity android:name=".BIO101" />
        <activity android:name=".Biopract" />
        <activity android:name=".Website" />
        <activity android:name=".Phy101" />
        <activity android:name=".GNS103" />
        <activity android:name=".Time" />
        <activity android:name=".Critical" />
        <activity android:name=".word" />
        <activity android:name=".pastGns" />
        <activity android:name=".listen" />
        <activity android:name=".writing" />
        <activity android:name=".MTS101" />
        <activity android:name=".Trigono" />
        <activity android:name=".CVE101" />
        <activity android:name=".Handoutcve" />
        <activity android:name=".Cvepract" />
        <activity android:name=".AboutDev" />
        <activity android:name=".PhyRev" />
        <activity android:name=".MEE101" />
        <activity android:name=".CSC101" />
        <activity android:name=".About" />
        <activity android:name=".Gns" />
        <activity android:name=".Cvesum" />
        <activity android:name=".MTSpra" />
        <activity android:name=".Phy103" />
        <activity android:name=".Bionote" />







        <activity android:name=".Sequence">

        </activity>
        <activity android:name=".TutorialSolution">

        </activity>
        <activity android:name=".OpenMts">

        </activity>
        <activity android:name=".web">

        </activity>
    </application>

</manifest>